.img-main {
    object-fit: cover;
    width: 100%;
    height: 300px;
}

.card-thumbnail {
    border: none;
}

.card-thumbnail img {
    object-fit: cover;
    height: 80px;
    width: 100px;
}

.btn-red {
    background-color: #ff4d4d;
    color: white;
    border: none;
    font-size: 0.9rem;
}

.btn-red:hover {
    background-color: #ff1a1a;
    color: white;
}

.text-truncate-2 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}