.form-control {
    border: none;
    border-bottom: 2px solid #000;
    border-radius: 0;
    outline: none;
    box-shadow: none;
}

input {
    border: none;
    border-bottom: 2px solid black;
    outline: none;
    width: 100%;
}

.img-rev{

    height: 40px;
}


@media (max-width: 768px) { 
    .custom-rounded {
      border-radius: 5px !important; 
    }

    .font-size-font{
        font-size: 15px;
       
    }
    .img-rev{
        height: 20px;
        padding-left: 10px;
        padding-top: 10px;

    }
  }